/build*/
/ZYNQ7020/output/
/ZYNQ7020/gui/output/
/STM32/output/
/ZYNQ7020/fpga/.Xil/
/ZYNQ7020/fpga/*.jou
/ZYNQ7020/fpga/*.log
/ZYNQ7020/*.xpr
/ZYNQ7020/.Xil/
/ZYNQ7020/oscill.cache/
/ZYNQ7020/oscill.hw/
/ZYNQ7020/oscill.ip_user_files/
/ZYNQ7020/oscill.runs/
/ZYNQ7020/oscill.sim/
/ZYNQ7020/oscill.srcs/
/ZYNQ7020/oscill.sdk/
__pycache__/
*.pyc
/STM32/MDK-ARM/oscill_controls/
/STM32/MDK-ARM/RTE/
/STM32/MDK-ARM/*.uvguix.*
/STM32/MDK-ARM/*.uvgui.*
