/build*/
/output/
/ZYNQ7020/fpga/.Xil/
/ZYNQ7020/fpga/*.jou
/ZYNQ7020/fpga/*.log
__pycache__/
*.pyc
/STM32/MDK-ARM/oscill_controls/
/STM32/MDK-ARM/RTE/
/STM32/MDK-ARM/*.uvguix.*
/STM32/MDK-ARM/*.uvgui.*
